@import "../../../shared/styles/table.scss";

.activity-time-container{
    .state-text{
        font-size: 1.5rem;
        color: #373d3f;
        font-weight: 700
    }
    padding-top: 15px;
    padding-bottom: 15px;
}